:root{

    --bg-fondo: #30415D;
    --bg-barra:#031424;
    --color-text:#FFFFFF;
    --btn-primary:#CF6766;
}
body{    
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--bg-fondo);    
}

.title1{
    margin: 0;
    margin-top: 4vh;
    color: var(--color-text);
    font-weight: 400;
    font-size: 4rem;
    
}
.title2{
    margin: 0;
    color: var(--color-text);
    font-weight: 400;
    font-size: 3rem;
}
.title3{
    margin: 0;
    color: var(--color-text);
    font-weight: 400;
    font-size: 2rem;
}
.btn{   
    padding:20px;
    background: var(--color-text);
    color: var(--bg-barra);
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 31px;
}
.btn-link{
    background: none;
    font-weight: 400;
}

.row input{
    margin-left: 5%;    
    background: #C4C4C4;
    border-radius: 31px;
    width: 90%;
    height: 3rem;
    padding-left: 20px;
    }

    .barra{
        position: absolute;
        top: 0;  
         
        width: 100%;
        justify-content: center;
        align-items: center;       
        color: var(--color-text);
        background-color: var(--bg-barra);
    }

    .barra h1{
        margin: 10px;
    font-size: 4vh;
    font-weight: 300;
    }
    .barra .registrar{
        text-align: center;
    }
    .barra .registrar .link{
        color: var(--btn-primary);
        font-weight: 700;
    }

@media screen and (max-width: 600px) {
    .title1{
        font-size: 6vh;
    }
    .title2{
        font-size: 2rem;

    }
    .btn{
        margin: auto;
        width: 70%;
    }
  }